# My Take On Resolving Broken CSV file reading issue using Python

In [1]:
import pandas as pd 
import re

#### This is a sample demo file,  kindly open it in notepad to see the effects of extra commas in the csv file

In [5]:
df = pd.read_csv('demo.csv')
df.head()

                Name         Age Address Phone Number    City State
ABC 20           216  shark tank   03204     12345678   Omaha    MA
ZXY 34  arlington st    12345678  Boston           OH     NaN   NaN
    34  arlington st    12345678  Boston           OH     NaN   NaN
    34           216  shark tank   03204     12345678  Boston    OH
    34  arlington st    12345678  Boston           OH     NaN   NaN

##  See how  the values shift in columns as each extra comma is encountered

##  The goal is to make sure we can extract  necessary columns from the dataset

In [7]:
df = open('demo.csv','r').read() #file path required if not in same directory
i_column=2    #index of desired column, counted from back
lines=re.split('\n',df)[:-1] #eventually remove last (empty) line
list_city=[]
for line in lines:
  list_city.append(re.split(',',line)[-i_column])    #the minus in [i_column] affects indexing beginning at the end
print(list_city)

['City', 'Omaha', 'Boston', 'Boston', 'Boston', 'Boston', 'Boston', 'Boston', 'Boston', 'Boston', 'Boston']

In [14]:
i_column=1      #index of desired column, counted from back
lines=re.split('\n',df)[:-1] #eventually remove last (empty) line
list_troubletype=[]
for line in lines:
  list_troubletype.append(re.split(',',line)[i_column])    #the minus in [i_column] affects indexing beginning at the end
print(list_troubletype)

['Age', '20', '34', '34', '34', '34', '34', '34', '34', '34', '34']